@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@200;300;400;500;600;700&display=swap");

$base-color: #b2cacb;
$btn-color: #c9ffec;
$border-color: #ededed17;
$btn-bg-color: #001819;
$element-spacing: 20px;

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Space Grotesk";
  color: $base-color;
}

body {
  background: rgb(4, 34, 47);
  background: radial-gradient(circle, rgba(4, 34, 47, 1) 0%, rgba(20, 27, 30, 1) 100%);
}

.container {
  margin: 0 auto;
  max-width: 1600px;
}

.breadcrumbs-steps {
  padding: 20px;
  font-weight: 200;
  display: flex;
  align-items: center;
  margin: 0 0 40px;
  font-size: clamp(0.7rem, 4vw, 1rem);
  a#breadcrumb-steps_first,
  a#breadcrumb-steps_between {
    opacity: 0.5;
  }
  img {
    margin: 0 10px;
  }
}

// Decorative img
.design-figures {
  display: none;
  img {
    &:nth-child(5) {
      display: flex;
      position: relative;
    }
  }
}
// Header

header nav {
  display: flex;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;

  // ____

  img {
    width: 75px;
    position: relative;
    top: -8px;
  }
  #menu {
    a {
      margin: 10px;
    }
  }
}

section.intro-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 200;
  h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    padding: 5px;
    text-align: center;
  }
  p {
    font-size: clamp(1rem, 4vw, 2rem);
    text-align: center;
    margin-bottom: 20px;
  }
  a {
    display: flex;
    background-color: $btn-bg-color;
    padding: 5px 20px;
    color: $btn-color;
    margin: 5px;
    border-radius: 50px;
    font-size: clamp(0.8rem, 3vw, 1.2rem);
    align-items: center;
    img {
      position: relative;
      left: 5px;
    }
    &:hover {
      border: 1px solid $btn-color;
      margin: 4px;
      background: rgba(0, 0, 0, 0);
    }
  }
}

// Hero Section
section.hero div {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 70px;
  padding: 20px;

  // _____

  h1 {
    font-weight: 200;
    text-align: center;
    margin-bottom: 30px;
    font-size: clamp(1.6rem, 10vw, 3.5rem);

    span {
      display: block;
    }
  }

  p {
    margin: 10px 0 30px;
    font-size: 1rem;
    text-align: center;
    font-weight: 200;
  }

  a {
    display: flex;
    align-items: center;
    padding: 13px 24px;
    background-color: $btn-bg-color;
    width: fit-content;
    border-radius: 50px;
    font-size: clamp(1.1rem, 2vw, 1.3rem);
    font-weight: 300;
    color: $btn-color;
    &:hover {
      border: 1px solid $btn-color;
      background: rgba($color: #000000, $alpha: 0);
    }

    img {
      width: 25px;
      margin-right: 10px;
    }
  }
}

section.cards {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .card {
    padding: 10px;
    font-weight: 200;
    width: clamp(320px, 95vw, 600px);
  }

  .card-content {
    border: 1px solid $border-color;

    padding: 10px;
    display: flex;
    justify-content: space-between;

    p {
      font-size: 0.8rem;

      span {
        color: #1cf6ff;
      }
    }
  }

  .card-content_left {
    display: flex;
    align-items: center;

    // Pulsing

    .dot {
      height: 7px;
      width: 7px;
      border-radius: 50%;
      margin: 0 12px 0 8px;
    }

    .pulse {
      background: #15ff81;
      box-shadow: 0 0 0 0 rgb(106, 255, 193);
      animation: pulse-green 2s infinite;
    }

    @keyframes pulse-green {
      0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
      }

      70% {
        transform: scale(1);
        box-shadow: 0 0 0 8px rgba(51, 217, 178, 0);
      }

      100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
      }
      // Pusling stop
    }
  }

  .inactive {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 12px 0 8px;
    box-shadow: 0 0 0 5px rgba(54, 56, 56, 0.445);
  }

  .card-content.bottom {
    padding: 30px;
    height: 200px;
    position: relative;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;

    div {
      display: flex;
      margin-left: 10px;
      .skeleton-loader {
        width: 250px;
        border-radius: 50px;
        height: 45px;
        display: block;

        background: linear-gradient(
            to right,
            rgb(4, 34, 47),
            rgb(4, 43, 59) 50%,
            rgb(4, 34, 47) 100%
          ),
          rgb(4, 34, 47);
        background-repeat: repeat-y;
        background-size: 50px 500px;
        background-position: 0 0;
        animation: shine 1s infinite;
      }

      @keyframes shine {
        to {
          background-position: 100% 0;
        }
      }

      &:nth-child(1) {
        font-size: clamp(2rem, 5vw, 3rem);
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  #launch-name {
    color: #1cf6ff;
  }

  .card-content.launch-info {
    display: flex;
    flex-direction: column;
    height: fit-content;
    img {
      width: 200px;
      height: auto;
      align-self: center;
    }
    p {
      font-size: 1rem;
      margin: 0;
      position: relative;
      font-weight: 200;
      font-size: 1rem;
    }
    span {
      position: relative;
      right: 5px;
      background-color: rgba(8, 65, 65, 0.527);
      padding: 5px 10px;
      font-size: 0.8rem;
      display: block;
      width: fit-content;
      color: $btn-color;
      margin: 20px 0 8px;
      border-radius: 50px;
    }

    hr {
      opacity: 0.2;
      margin: 0 0 20px;
    }

    a {
      position: absolute;
      margin: 0;
      right: 20px;
      bottom: 20px;
    }
  }

  a.current,
  a.previous {
    color: $btn-color;
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    font-size: 0.8rem;
    background-color: $btn-bg-color;
    padding: 6px 12px;
    border-radius: 50px;

    img {
      margin-left: 5px;
    }

    &:hover {
      border: 1px solid $btn-color;
      background-color: rgba($color: #000000, $alpha: 0);
    }
  }
}

.all-launches {
  color: $btn-color;
  display: flex;
  align-self: center;
  margin-top: 50px;
  font-weight: 200;
}

a.previous {
  img {
    margin-left: 5px;
  }
}

.hero .video {
  display: none;
}

section.cta {
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    display: flex;
    align-items: center;

    padding: 10px 20px;
    background-color: $btn-bg-color;
    color: $btn-color;
    border-radius: 50px;

    img {
      margin-left: 15px;
    }
    &:hover {
      border: 1px solid $btn-color;
      margin: -1px;
      background-color: rgba($color: #000000, $alpha: 0);
    }
  }
}

footer {
  margin-top: 80px;
  padding: clamp(50px, 5vw, 80px);
  background-color: $btn-color;
  width: 100%;
  color: $btn-bg-color;
  display: flex;
  justify-content: space-around;
  overflow: hidden;

  a {
    color: $btn-bg-color;
  }
  div {
    color: $btn-bg-color;
    max-width: 1600px;
  }
}

div.card {
  .card-timeline {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    p {
      background-color: $btn-bg-color;
      font-weight: 400;
      opacity: 0.7;
      padding: 5px 10px;
      font-size: 0.9rem;
      border-radius: 50px;
      color: $btn-color;
      width: fit-content;
      margin: 0 auto;
    }
    .timeline-line {
      width: 4px;
      background-color: $base-color;
      height: 30px;
      margin: 10px 0;
      align-self: center;
      border-radius: 50px;
      opacity: 0.3;
    }
    .card-outline {
      border: 1px solid #b2cacb31;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border-radius: 2px;

      img {
        width: 150px;
        height: auto;
      }
      .card-inline_right {
        display: flex;
        flex-direction: column;
        width: 93%;

        .success {
          background-color: rgba(0, 143, 0, 0.089);
          color: rgb(0, 255, 85);
          width: fit-content;
          padding: 3px 10px;
          font-size: 12px;
          font-weight: 500;
          border-radius: 50px;
          position: relative;
          right: 5px;
          margin-bottom: 5px;
        }
        .failure {
          background-color: rgba(143, 5, 0, 0.089);
          color: rgb(255, 115, 115);
          width: fit-content;
          padding: 3px 10px;
          font-size: 12px;
          font-weight: 500;
          border-radius: 50px;
          position: relative;
          right: 5px;
          margin-bottom: 5px;
        }

        p {
          padding: 0;
          margin: 20px 0;
          background: none;
          font-size: 16px;
          font-weight: 200;
        }

        a {
          margin: 0 0 20px;
          color: rgb(255, 255, 255);

          display: flex;
          align-items: center;
          border-radius: 50px;

          img {
            position: relative;
            top: 3px;
            left: 5px;
            width: 25px;
          }
        }
      }
    }
  }
}

// Contact styles
.form-container {
  background-color: rgb(251, 251, 251);
  max-width: 600px;
  margin: 40px auto;
  border-radius: 5px;
  padding: 30px;
  position: relative;
}

form {
  /* margin: 40px; */
  margin: 30px auto;
}

form .form-section {
  margin: 10px;
  display: block;
}

form input {
  margin-top: 2px;
  padding: 10px;
  width: 100%;
}

form .form-error {
  display: none;
  font-size: 12px;
  padding-top: 5px;
  padding-left: 5px;
  color: rgb(255, 12, 60);
}

form button {
  padding: 15px 30px;
  margin-top: 20px;
  background-color: $base-color;
  border: none;
  font-size: 18px;
  box-shadow: 0 5px rgb(42, 76, 87);
  border-radius: 5px;
  color: $btn-bg-color;
  cursor: pointer;
}

form button:hover {
  position: relative;
  box-shadow: none;
  top: 5px;
  transition: 0s ease;
}

form button:focus {
  border: none;
  outline: none;
}

form button:active {
  border: none;
  outline: none;
}

label span {
  font-size: 14px;
  color: rgb(61, 61, 61);
}

.form-container p {
  font-size: 24px;
  display: flex;
  color: $btn-bg-color;
}

label input:focus {
  background-color: rgba(255, 187, 0, 0.1);
}

form textarea {
  margin-top: 2px;
  padding: 10px;
  width: 100%;
}

.formValidation {
  display: none;
  position: relative;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
  margin-bottom: 0;
  background-color: rgba(159, 255, 209, 0.6);
  width: fit-content;
  margin: 10px;
  backdrop-filter: blur(10px);
}

.formValidation p {
  font-size: 14px;
  color: $btn-bg-color;
}

.formValidation span {
  margin-left: 8px;
}

// Desktop res
@media (min-width: 1024px) {
  div.card {
    .card-timeline {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      p {
        background-color: $btn-bg-color;
        font-weight: 400;
        opacity: 0.7;
        padding: 5px 10px;
        font-size: 0.9rem;
        border-radius: 50px;
        color: $btn-color;
        width: fit-content;
        margin: 0 auto;
      }
      .timeline-line {
        width: 4px;
        background-color: $base-color;
        height: 30px;
        margin: 10px 0;
        align-self: center;
        border-radius: 50px;
        opacity: 0.3;
      }
      .card-outline {
        border: 1px solid #b2cacb31;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-radius: 2px;
        padding: 20px;
        width: clamp(300px, 90vw, 800px);

        img {
          width: 250px;
          padding: 20px;
          height: auto;
        }
        .card-inline_right {
          display: flex;
          flex-direction: column;
          width: 70%;

          p {
            padding: 0;
            margin: 20px 0px;
            background: none;
          }
          a {
            margin: 0 0 20px;
            color: rgb(255, 255, 255);
            display: flex;
            align-items: center;
            border-radius: 50px;
            img {
              position: relative;
              top: 3px;
              left: 5px;
              width: 25px;
            }
          }
        }
      }
    }
  }

  .design-figures {
    display: flex;
    position: absolute;

    img {
      overflow: hidden;
      z-index: -1;
      position: absolute;
      opacity: 0.3;

      &:nth-child(1) {
        right: 0;
        top: 500px;
        opacity: 0.3;
        position: absolute;
        overflow: hidden;
      }

      &:nth-child(2) {
        right: -500px;
        top: 570px;

        animation: floating 15s infinite;
        animation-direction: alternate;
        position: absolute;
        overflow: hidden;
      }

      @keyframes floating {
        0% {
          transform: translate(0, 0);
        }
        50% {
          transform: translate(-200px, 30px);
        }
        100% {
          transform: translate(100px, 130px);
        }
      }

      &:nth-child(3) {
        right: 0;

        position: absolute;
        top: 270px;
        animation: floatingX 10s infinite;
        animation-direction: alternate;
        overflow: hidden;
      }

      @keyframes floatingX {
        0% {
          transform: translate(0, 0);
        }
        50% {
          transform: translate(-200px, 300px);
        }
        100% {
          transform: translate(100px, 130px);
        }
      }

      &:nth-child(4) {
        top: -250px;
        right: 0;
        opacity: 0.3;
        overflow: hidden;
        position: absolute;
        display: none;
      }
      &:nth-child(5) {
        position: absolute;
        left: -200px;
        opacity: 0.3;
        overflow: hidden;
        top: 100px;
      }
    }
  }

  .hero .video {
    display: flex;
    width: clamp(300px, 20vw, 350px);
  }

  section.hero {
    display: flex;
    justify-content: space-around;
    padding: 20px;

    div {
      &:nth-child(1) {
        position: relative;
        top: 120px;
        overflow: hidden;
      }

      h1 {
        margin-right: 20px;
        text-align: left;
        font-size: 3rem;
      }
      a,
      p {
        align-self: center;
        text-align: center;
      }
    }
  }
}

@media (min-width: 1200px) {
  section.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    .card {
      position: relative;
      width: 40%;
      margin: 0px 30px;
    }

    .line-seperator {
      position: inherit;
      top: 23px;
      background-color: $base-color;
      height: 620px;
      width: 1px;
      display: flex;
      justify-content: center;
      .dot-seperator {
        display: flex;
        justify-content: center;
        .upper {
          position: absolute;
          height: 12px;
          width: 12px;
          border-radius: 50%;
        }
        .pulse {
          background: #15ff81;
          box-shadow: 0 0 0 0 rgb(106, 255, 193);
          animation: pulse-green 2s infinite;
        }

        @keyframes pulse-green {
          0% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
          }

          70% {
            transform: scale(1);
            box-shadow: 0 0 0 12px rgba(51, 217, 178, 0);
          }

          100% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
          }
          // Pusling stop
        }
      }
      .lower {
        position: absolute;
        bottom: 50%;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: gray;
        box-shadow: 0 0 0 5px rgba(54, 56, 56, 0.445);
      }
    }

    .dot,
    .inactive {
      display: none;
    }
    & .card:nth-child(3) {
      margin-top: 300px;
    }
  }
}
