@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@200;300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Space Grotesk";
  color: #b2cacb;
}

body {
  background: #04222f;
  background: radial-gradient(circle, #04222f 0%, #141b1e 100%);
}

.container {
  margin: 0 auto;
  max-width: 1600px;
}

.breadcrumbs-steps {
  padding: 20px;
  font-weight: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 40px;
}

.breadcrumbs-steps a:nth-child(1) {
  opacity: 0.5;
}

.breadcrumbs-steps img {
  margin: 0 10px;
}

.design-figures {
  display: none;
}

.design-figures img:nth-child(5) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 20px;
}

header nav img {
  width: 75px;
  position: relative;
  top: -8px;
}

header nav div {
  background-color: #b2cacb;
  margin: 10px;
  width: 25px;
  height: 1px;
}

section.intro-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 200;
}

section.intro-text h1 {
  font-size: clamp(2rem, 5vw, 3rem);
}

section.intro-text p {
  font-size: clamp(1rem, 4vw, 2rem);
  text-align: center;
  margin-bottom: 20px;
}

section.intro-text a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #001819;
  padding: 5px 20px;
  color: #c9ffec;
  margin: 5px;
  border-radius: 50px;
  font-size: clamp(1rem, 3vw, 1.2rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.intro-text a img {
  position: relative;
  left: 5px;
}

section.intro-text a:hover {
  border: 1px solid #c9ffec;
  margin: 4px;
  background: rgba(0, 0, 0, 0);
}

section.hero div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
  padding: 10px;
}

section.hero div h1 {
  font-weight: 200;
  text-align: center;
  margin-bottom: 30px;
  font-size: clamp(1.6rem, 4vw, 3.5rem);
}

section.hero div h1 span {
  display: block;
}

section.hero div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 34px;
  background-color: #001819;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
  font-size: clamp(1.1rem, 2vw, 1.3rem);
  font-weight: 300;
  color: #c9ffec;
}

section.hero div a img {
  width: 25px;
  margin-right: 10px;
}

section.hero div p {
  margin-top: 5px;
  font-size: 0.8rem;
  font-weight: 200;
}

section.cards {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.cards .card {
  padding: 10px;
  font-weight: 200;
  width: clamp(320px, 95vw, 600px);
}

section.cards .card-content {
  border: 1px solid #ededed17;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.cards .card-content p {
  font-size: 0.8rem;
}

section.cards .card-content p span {
  color: #1cf6ff;
}

section.cards .card-content_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.cards .card-content_left .dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  margin: 0 12px 0 8px;
}

section.cards .card-content_left .pulse {
  background: #15ff81;
  -webkit-box-shadow: 0 0 0 0 #6affc1;
          box-shadow: 0 0 0 0 #6affc1;
  -webkit-animation: pulse-green 2s infinite;
          animation: pulse-green 2s infinite;
}

@-webkit-keyframes pulse-green {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
            box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 8px rgba(51, 217, 178, 0);
            box-shadow: 0 0 0 8px rgba(51, 217, 178, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
            box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}

@keyframes pulse-green {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
            box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 8px rgba(51, 217, 178, 0);
            box-shadow: 0 0 0 8px rgba(51, 217, 178, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
            box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}

section.cards .inactive {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 12px 0 8px;
  -webkit-box-shadow: 0 0 0 5px rgba(54, 56, 56, 0.445);
          box-shadow: 0 0 0 5px rgba(54, 56, 56, 0.445);
}

section.cards .card-content.bottom {
  padding: 30px;
  height: 200px;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
}

section.cards .card-content.bottom div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

section.cards .card-content.bottom div .skeleton-loader {
  width: 250px;
  border-radius: 50px;
  height: 45px;
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(#04222f), color-stop(50%, #042b3b), to(#04222f)), #04222f;
  background: linear-gradient(to right, #04222f, #042b3b 50%, #04222f 100%), #04222f;
  background-repeat: repeat-y;
  background-size: 50px 500px;
  background-position: 0 0;
  -webkit-animation: shine 1s infinite;
          animation: shine 1s infinite;
}

@-webkit-keyframes shine {
  to {
    background-position: 100% 0;
  }
}

@keyframes shine {
  to {
    background-position: 100% 0;
  }
}

section.cards .card-content.bottom div:nth-child(1) {
  font-size: clamp(2rem, 5vw, 3rem);
}

section.cards .card-content.bottom div:nth-child(1):hover {
  text-decoration: underline;
}

section.cards #launch-name {
  color: #1cf6ff;
}

section.cards .card-content.launch-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

section.cards .card-content.launch-info img {
  width: 200px;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section.cards .card-content.launch-info p {
  font-size: 1rem;
  margin: 0;
  position: relative;
  font-weight: 200;
  font-size: 1rem;
}

section.cards .card-content.launch-info span {
  position: relative;
  right: 5px;
  background-color: rgba(8, 65, 65, 0.527);
  padding: 5px 10px;
  font-size: 0.8rem;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #c9ffec;
  margin: 20px 0 8px;
  border-radius: 50px;
}

section.cards .card-content.launch-info hr {
  opacity: 0.2;
  margin: 0 0 20px;
}

section.cards .card-content.launch-info a {
  position: absolute;
  margin: 0;
  right: 20px;
  bottom: 20px;
}

section.cards a.current,
section.cards a.previous {
  color: #c9ffec;
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8rem;
  background-color: #001819;
  padding: 6px 12px;
  border-radius: 50px;
}

section.cards a.current img,
section.cards a.previous img {
  margin-left: 5px;
}

section.cards a.current:hover,
section.cards a.previous:hover {
  border: 1px solid #c9ffec;
  background-color: rgba(0, 0, 0, 0);
}

.all-launches {
  color: #c9ffec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 50px;
  font-weight: 200;
}

a.previous img {
  margin-left: 5px;
}

.hero .video {
  display: none;
}

section.cta {
  text-align: center;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.cta a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  background-color: #001819;
  color: #c9ffec;
  border-radius: 50px;
}

section.cta a img {
  margin-left: 15px;
}

section.cta a:hover {
  border: 1px solid #c9ffec;
  margin: -1px;
  background-color: rgba(0, 0, 0, 0);
}

footer {
  margin-top: 80px;
  padding: clamp(50px, 5vw, 80px);
  background-color: #c9ffec;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer div {
  color: #001819;
  max-width: 1600px;
}

@media (min-width: 1024px) {
  .design-figures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  .design-figures img {
    overflow: hidden;
    z-index: -1;
    position: absolute;
    opacity: 0.3;
  }
  .design-figures img:nth-child(1) {
    right: -500px;
    top: 500px;
    opacity: 0.3;
  }
  .design-figures img:nth-child(2) {
    right: 50%;
    top: 570px;
    -webkit-animation: floating 15s infinite;
            animation: floating 15s infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
  }
  @-webkit-keyframes floating {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    50% {
      -webkit-transform: translate(-200px, 30px);
              transform: translate(-200px, 30px);
    }
    100% {
      -webkit-transform: translate(100px, 130px);
              transform: translate(100px, 130px);
    }
  }
  @keyframes floating {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    50% {
      -webkit-transform: translate(-200px, 30px);
              transform: translate(-200px, 30px);
    }
    100% {
      -webkit-transform: translate(100px, 130px);
              transform: translate(100px, 130px);
    }
  }
  .design-figures img:nth-child(3) {
    right: 0;
    top: 270px;
    -webkit-animation: floatingX 10s infinite;
            animation: floatingX 10s infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
  }
  @-webkit-keyframes floatingX {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    50% {
      -webkit-transform: translate(-200px, 300px);
              transform: translate(-200px, 300px);
    }
    100% {
      -webkit-transform: translate(100px, 130px);
              transform: translate(100px, 130px);
    }
  }
  @keyframes floatingX {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    50% {
      -webkit-transform: translate(-200px, 300px);
              transform: translate(-200px, 300px);
    }
    100% {
      -webkit-transform: translate(100px, 130px);
              transform: translate(100px, 130px);
    }
  }
  .design-figures img:nth-child(4) {
    top: -250px;
    right: -200px;
    opacity: 0.3;
  }
  .design-figures img:nth-child(5) {
    position: absolute;
    left: -200px;
    opacity: 0.3;
    top: 100px;
  }
  .hero .video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: clamp(300px, 20vw, 350px);
  }
  section.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 60px;
  }
  section.hero div:nth-child(1) {
    position: relative;
    top: 120px;
  }
  section.hero div h1 {
    margin-right: 20px;
    text-align: left;
  }
  section.hero div a,
  section.hero div p {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media (min-width: 1200px) {
  section.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
  }
  section.cards .card {
    position: relative;
    width: 40%;
    margin: 0px 30px;
  }
  section.cards .line-seperator {
    position: inherit;
    top: 23px;
    background-color: #b2cacb;
    height: 620px;
    width: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.cards .line-seperator .dot-seperator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.cards .line-seperator .dot-seperator .upper {
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
  }
  section.cards .line-seperator .dot-seperator .pulse {
    background: #15ff81;
    -webkit-box-shadow: 0 0 0 0 #6affc1;
            box-shadow: 0 0 0 0 #6affc1;
    -webkit-animation: pulse-green 2s infinite;
            animation: pulse-green 2s infinite;
  }
  @-webkit-keyframes pulse-green {
    0% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
      -webkit-box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
              box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
    }
    70% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-box-shadow: 0 0 0 12px rgba(51, 217, 178, 0);
              box-shadow: 0 0 0 12px rgba(51, 217, 178, 0);
    }
    100% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
      -webkit-box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
              box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
    }
  }
  @keyframes pulse-green {
    0% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
      -webkit-box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
              box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
    }
    70% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-box-shadow: 0 0 0 12px rgba(51, 217, 178, 0);
              box-shadow: 0 0 0 12px rgba(51, 217, 178, 0);
    }
    100% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
      -webkit-box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
              box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
    }
  }
  section.cards .line-seperator .lower {
    position: absolute;
    bottom: 50%;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: gray;
    -webkit-box-shadow: 0 0 0 5px rgba(54, 56, 56, 0.445);
            box-shadow: 0 0 0 5px rgba(54, 56, 56, 0.445);
  }
  section.cards .dot,
  section.cards .inactive {
    display: none;
  }
  section.cards .card:nth-child(3) {
    margin-top: 300px;
  }
}
/*# sourceMappingURL=style.css.map */